<div class="floating-container">
    <div class="floating-button">
        <img class="primary-menu-icon" src="/images/icons/menu_main.svg" />
    </div>
    <div class="element-container">
        <span class="float-element">
            <img class="sub-menu-icon" src="/images/icons/menu_logout.svg" />
        </span>
        <span class="float-element">
            <img class="sub-menu-icon" src="/images/icons/menu_training.svg" />
        </span>
        <span class="float-element">
            <img class="sub-menu-icon" src="/images/icons/menu_dashboard.svg" />
        </span>
    </div>
</div>