<div class="modal">

    <audio controls autoplay>
        <source src="../../content/audio/reporting_custom/reporting_custom_conclusion.wav" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GlN4ytoXn08" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


</div>