<div id="web_app_install" class="web_app_install background_color_blank background_color_theme" style="display: none;">
    <div class="background_color_theme color_white ft_size_30" style="padding: 16px;"><b>INSTALL WEB APP</b><span id="close_web_app_install" style="float: right;">X</span></div>
    <div class="background_color_white ft_size_24" style="padding: 16px;">Do you want to add our site to your home screen?</div>  
    <div class="background_color_white ft_size_24" style="text-align: right; padding: 8px;">
        <div id="confirm_web_app_install" class="color_white web_app_install_button positive">Yes</div>
        <div id="cancel_web_app_install" class="color_white web_app_install_button negative">No</div>
    </div>
</div>